

.map_container {
  padding: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 0px 0px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 0px 0px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 0px 0px;
  width: 400px;
float:right;
}
.
.gmaps4rails_map {
  width: 400px;
  height: 400px;
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}


#map-canvas, #map_canvas {
  height: 400px;
  width:400px;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 400px;
    width: 400px;
  }
}

 #map_canvas2 {
    height: 400px;
    width: 400px;
    margin-top:20px;
  }
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}